-unless license.nil?
  %tr

    %td
      = license.user.email unless license.user.nil?
    %td
      = license.expire_at.to_s
    %td
      = license.serial_key
    %td
      = license.hw_key
    %td
      = license.license_type
    %td
      = license.license_sub_type unless license.license_sub_type.nil?
    %td
      = license.created_at.to_s
    %td
      = license.email_status
    %td
      = link_to "Resend email",resend_email_license_path(license), class: "btn btn-default"
    %td
      - if !license.hw_key.nil?
        = link_to "Download", download_license_from_list_path(get_license: { email: license.user.email, serial: license.serial_key, activation_key: license.hw_key }), class: "btn btn-default"