
-#.row
-#  #edo-logo.col-xs-4
-#    = wicked_pdf_image_tag("seamantec_logo_200.png", style:"width:150px;")
.row
  .col-xs-4
    %h1
      INVOICE
  - if !Rails.env.production? || CONFIGS[:braintree]["environment"] == "sandbox"
    .col-xs-4
      %h1
        (SAMPLE/MINTA)
.row
  .col-xs-12
    %h3
      = "Invoice number: #{invoice.full_number}"
    - if invoice.is_storno?
      %h4
        = "Original invoice number: #{invoice.original_invoice.full_number}"
.row.invoice-companies
  .col-xs-6
    %h3
      Vendor
    %h4
      Seamantec Kft.
    .row
      .col-xs-10.col-xs-offset-1
        .row
          .col-xs-12
            Budakeszi
        .row
          .col-xs-12
            Szőlőskert utca 5
        .row
          .col-xs-12
            Hungary
        .row
          .col-xs-12
            2092
        .row
          .col-xs-12
            VAT ID: HU24364120

  .col-xs-6
    %h3
      Customer
    %h4
      = invoice.customer_name
    .user.company_info.name
    .row
      .col-xs-10.col-xs-offset-1
        .row
          .col-xs-12
            = invoice.customer_city
        .row
          .col-xs-12
            = invoice.customer_address
        .row
          .col-xs-12
            = invoice.customer_address_2
        .row
          .col-xs-12
            = invoice.customer_country.name
        .row
          .col-xs-12
            = invoice.customer_zip_code
        .row
          .col-xs-12
            = "VAT ID: #{invoice.customer_vat_id}"

%hr

.row
  %table.table.table-condensed
    %thead
      %tr
        %th.col-md-3.text-center
          Payment method
        %th.col-md-3.text-center
          Date of Invoice
        %th.col-md-3.text-center
          Date of fulfilment
        %th.col-md-3.text-center
          Due
    %tbody
      %tr
        %td.col-md-3.text-center
          = invoice.method_of_payment
        %td.col-md-3.text-center
          = invoice.created_at.strftime("%Y-%m-%d")
        %td.col-md-3.text-center
          = invoice.date_of_fulfilment.strftime("%Y-%m-%d")
        %td.col-md-3.text-center
          = invoice.due_date.strftime("%Y-%m-%d")
.row
  %table.table.table-condensed
    %thead
      %tr
        %th.col-md-4.text-center
          Description
        %th.col-md-1.text-center
          Amount
        %th.col-md-1.text-center
          Unit Price
        %th.col-md-1.text-center
          Net. Price
        %th.col-md-1.text-center
          VAT Rate
        %th.col-md-1.text-center
          VAT
        %th.col-md-1.text-center
          Gross Price
    %tbody
      - invoice.invoice_items.each do |ii|
        %tr
          %td.col-md-4.text-center
            = ii.description
          %td.col-md-1.text-center
            = ii.amount*(invoice.is_storno? ? -1 : 1)
          %td.col-md-1.text-center
            -#= invoice.order.product_item.net_price_with_long_currency(invoice.is_storno?)
            = "#{ii.unit_price*(invoice.is_storno? ? -1 : 1)} #{invoice.currency}"
          %td.col-md-1.text-center
            -#= invoice.order.payment.net_value_with_long_currency(invoice.is_storno?)
            = "#{ii.sum_net_price*(invoice.is_storno? ? -1 : 1)}  #{invoice.currency}"
          %td.col-md-1.text-center
            = "#{ii.vat_rate}%"
          %td.col-md-1.text-center
            = "#{ii.sum_vat*(invoice.is_storno? ? -1 : 1)} #{invoice.currency}"
          %td.col-md-1.text-center
            = "#{ii.sum_gross*(invoice.is_storno? ? -1 : 1)} #{invoice.currency}"
%br
%br
%br
%hr
  .row
    .col-xs-6
      .row
        %br
      .row
        .col-xs-4.text-center
          VAT Rate
        .col-xs-4.text-center
          ="VAT in #{invoice.currency}"
        .col-xs-4.text-center
          ="VAT in HUF"
      %hr
      -invoice.vat_values.each_value do |va|
        .row
          .col-xs-4.text-center
            = "#{va[:vat_rate]}%"
          .col-xs-4.text-center
            = "#{va[:vat_in_currency]*(invoice.is_storno? ? -1 : 1)} #{invoice.currency}"
          .col-xs-4.text-center
            = "#{va[:vat_in_huf]*(invoice.is_storno? ? -1 : 1)} HUF"
    .col-xs-6
      .row
        .col-xs-8
          Net. Total:
        .col-xs-4
          = "#{(invoice.net_total*(invoice.is_storno? ? -1 : 1)).round(2)} #{invoice.currency}"
      .row
        .col-xs-8
          VAT Total:
        .col-xs-4
          = "#{(invoice.vat_total*(invoice.is_storno? ? -1 : 1)).round(2)} #{invoice.currency}"
      %hr
        .row
          .col-xs-8
            %b Total:
          .col-xs-4
            %b= "#{((invoice.net_total+invoice.vat_total)*(invoice.is_storno? ? -1 : 1)).round(2)} #{invoice.currency}"
