.row
  .col-md-12.col-md-offset-1
    = form_for(@user, url: url, html:{:class=>"form-horizontal", method: method}) do |f|
      -unless @user.new_record?
        = f.hidden_field :id
      .form-group.row
        = f.label :email, class: "col-md-3 control-label"
        .col-md-4
          = f.email_field :email, :autofocus => true, :class=>"form-control"
      .form-group.row
        = f.label :email_confirmation, class: "col-md-3 control-label"
        .col-md-4
          = f.email_field :email_confirmation, :class=>"form-control"
      .form-group.row
        = f.label :first_name, class: "col-md-3 control-label"
        .col-md-4
          = f.text_field :first_name,  :class=>"form-control"
      .form-group.row
        = f.label :last_name, class: "col-md-3 control-label"
        .col-md-4
          = f.text_field :last_name, :class=>"form-control"
      - if with_password
        .form-group.row
          = f.label :password, class: "col-md-3 control-label"
          .col-md-4
            = f.password_field :password, :class=>"form-control"
        .form-group.row
          = f.label :password_confirmation, class: "col-md-3 control-label"
          .col-md-4
            = f.password_field :password_confirmation, :class=>"form-control"
      - else
        -#= f.hidden_field :no_password
      -if can? :create, User
        .form-group.row
          %label.col-md-2.control-label Roles
          %fieldset
            = f.fields_for(:roles) do |r|
              - unless r.object.new_record?
                = r.hidden_field :id
              = r.hidden_field :role
              .checkbox.col-md-2
                %label.control-label
                  = r.check_box :selected, {:checked => r.object.selected}
                  = r.object.role.humanize
      .form-group.row
        .col-md-8.col-md-offset-3
          .checkbox
            %label
              = f.check_box :accepted_newsletter,{}, "true", "false"
              I subscribe to the newsletter and acknowledge that the newsletters may contain direct marketing and advertising messages.
      - if method == :post
        .form-group
          .col-md-4.col-md-offset-3
            = recaptcha_tags
        .form-group.row
          .col-md-8.col-md-offset-3
            .checkbox
              %label
                = f.check_box :accepted_terms,{}, "true", "false"
                I have read, understood and hereby accept the
                = link_to "General Terms and Conditions of Purchase", terms_path, target: "_blank"
                and the
                = link_to "Data Protection Policy", data_protection_path, target: "_blank"


      .form-group
        .col-md-8.col-md-offset-3
          = f.submit (btn_label ? btn_label : "Save"), class:"btn btn-primary"