%h2 Change your password
.row
  -@user.errors.messages.each do |key|
    %li.alert.alert-danger
      %label{for:"user_#{key[0].to_s}"}
        - @user.errors[key[0]].each do |msg|
          =@user.errors.full_message(key[0], msg)
.row
  .col-md-12
    = form_for(@user,  :url => update_password_user_path(id:@user.id), :html => { :method => :patch }) do |f|
      = hidden_field_tag :reset_password_token, @original_token

      .form-group.row
        = f.label :password, "New password", class:"col-md-2 control-label"
        .col-md-4
          = f.password_field :password, :autofocus => true, class:"form-control"

      .form-group.row
        = f.label :password_confirmation, "Confirm new password", class:"col-md-2 control-label"
        .col-md-4
          = f.password_field :password_confirmation, class:"form-control"
      -#.form-group
      -#  = f.label :first_name, class: "col-md-2 control-label"
      -#  .col-md-4
      -#    = f.text_field :first_name, class:"form-control"
      -#.form-group
      -#  = f.label :last_name, class: "col-md-2 control-label"
      -#  .col-md-4
      -#    = f.text_field :last_name, class:"form-control"
      -#.form-group.row.new-order-row
      -#  .col-xs-12
      -#    .checkbox
      -#      %label
      -#        = f.check_box :accepted_terms
      -#        I have read, understood and hereby accept the
      -#        = link_to "General Terms and Conditions of Purchase", terms_path, target: "_blank"
      -#        and the
      -#        = link_to "Data Protection Policy", data_protection_path, target: "_blank"
      -#        ="."
      %div= f.submit "Change my password",class:"btn btn-default"
