.form-group
  = f.label :name, class: "control-label"
  = f.text_field :name, class: "form-control"
.form-group
  = f.label :net_price, class: "control-label"
  = f.text_field :net_price, class: "form-control"
.form-group
  = f.label :license_template_id, class: "control-label"
  = f.select :license_template_id, LicenseTemplate.all.map{|x| [x.name, x.id]}, class: "form-control"
.form-group
  = f.label :currency, class: "control-label"
  = f.select :currency, options_for_select(@currencies)

.form-group
  .checkbox
    %label
      = f.check_box :default_item,{}, "true", "false"
      Default item