.row.download
  .col-md-12.col-xs-12
    %h2
      = image_tag("edo_logo_single.png", class: "download-ico")
      = "Download EDO Instruments"
      .small
        ="#{os == "mac" ? "for Mac" : "for Windows"}"
    %br
    -#= render partial: "licenses/new_public_trial_form", locals:{with_download: true, release_id: @release.id, os: os}

    .download-btn-version.row
      -if @os == "mac"
        .col-md-3.col-xs-12
          = link_to "Download for Mac", @release.mac_url, :class=>"btn btn-success btn-lg", onclick: "ga('send', 'pageview',this.href); "
      -else
        .col-md-3.col-xs-12
          = link_to "Download for Windows", @release.win_url, :class=>"btn btn-success btn-lg", onclick: "ga('send', 'pageview',this.href); "
    .download-btn-version.row
      .col-md-5.col-xs-12
        %span.small.text-muted.version-info
          = "#{@release.version_number} for #{os == "mac" ? "Mac" : "Windows"}"
    -#%br
    -#%br
    -#%br
    -#.row
    -#  .col-md-12.text-center
    -#    %h2
    -#      Thanks for downloading!
    -#
    -#%br
    %hr
    %br
    .row
      .col-md-12
        %h3
          Short instruction how you can install EDO Instruments
    %br
    -if @os == "mac"
      = render partial: 'products/install_steps_mac'
    -else
      = render partial: 'products/install_steps_win'
    %br
    %br
    .row.download
      .col-xs-12.text-center
        Now you have downloaded EDO Instruments, check out the
        = link_to "FAQ", public_faq_path
        \.

  -#.download-btn-version.row
  -#  -if os == "mac"
  -#    .col-md-6.col-xs-12
  -#      = link_to "Download for Mac", @release.mac_url, :class=>"btn btn-primary btn-lg"
  -#  -else
  -#    .col-md-7.col-xs-12
  -#      = link_to "Download for Windows", @release.win_url, :class=>"btn btn-primary btn-lg"
  -#  .col-md-5.col-xs-12
  -#    %span.small.text-muted.version-info
  -#      = "#{@release.version_number} for #{os == "mac" ? "Mac" : "Windows"}"
  -#%br
  -#.small.text-muted.other-os
  -#  -if os == "mac"
  -#    = link_to "Download Edo Instruments for Windows".html_safe, download_win_path
  -#  -else
  -#    = link_to "Download Edo Instruments for Mac".html_safe, download_mac_path
  -#.col-md-6.col-xs-12
  -#  .panel.panel-default.trial-panel
  -#    .panel-heading
  -#      Get your 30 day trial license
  -#    .panel-body
  -#      .row
  -#        .col-md-12
  -#          With 30 day trial version you can try a fully functional Edo Instruments.
  -#          The application
  -#      %br
  -#      .row
  -#        .col-md-12
  -#          = link_to "Register Trial License", new_public_trial_licenses_path, class:"btn btn-success"




%br
%br
%br
.row.download
  .col-md-12.text-center
    = link_to "Do you have any questions? Contact us.".html_safe, "mailto:info@seamantec.com"
    %br
    .small.text-muted
      -if os == "mac"
        = link_to "Download EDO Instruments for Windows".html_safe, download_win_path
      -else
        = link_to "Download EDO Instruments for Mac".html_safe, download_mac_path
%br
%br